@font-face {
    font-family: 'Crimson Text';
    src: url('CrimsonText-Bold.eot');
    src: url('CrimsonText-Bold.eot?#iefix') format('embedded-opentype'),
        url('CrimsonText-Bold.woff2') format('woff2'),
        url('CrimsonText-Bold.woff') format('woff'),
        url('CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('CrimsonText-Regular.eot');
    src: url('CrimsonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('CrimsonText-Regular.woff2') format('woff2'),
        url('CrimsonText-Regular.woff') format('woff'),
        url('CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('CrimsonText-SemiBold.eot');
    src: url('CrimsonText-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('CrimsonText-SemiBold.woff2') format('woff2'),
        url('CrimsonText-SemiBold.woff') format('woff'),
        url('CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

